[user]
	email = aleksi.nyyssonen@gmail.com
	name = aleksinyyssonen
[push]
	default = simple
[alias]
	co = checkout
	st = status
	br = branch
	ll = log --all --decorate --graph --oneline
	li = log --decorate --graph --oneline
[core]
	autocrlf = false
	editor = nano
[diff "sopsdiffer"]
	textconv = sops -d
